@{
    ViewData["Title"] = "";
}
<h2>@ViewData["Title"]</h2>
<h2>@ViewData["Message"]</h2><br />

<h3><p>This Application is designed to help organize and manage Sacrament Meetings
       for the Church of Jesus Chrsit of Latter-Day Saints.  The Sacrament Meeting
       Planner is a guideline to help members and leaders create plans for their 
       sacrament meetings in their wards and branches.</p></h3>

