@{
    ViewData["Title"] = "";
}
<h2>@ViewData["Title"]</h2>
<h2>@ViewData["Message"]</h2><br />

<address>
   <h3><p>The Church of Jesus Christ of Latter-Day Saints<br />
    Salt Lake City, UT<br />
    <abbr title="Phone">Phone:</abbr>
    800.lovegod <br /><br />



    <strong>Support:</strong> <a href="mailto:LDSSupport@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:LDSMarketing@example.com">Marketing@example.com</a></p></h3>
</address>
